<!doctype>
<html>
    <head>
    <title> first angular app</title>
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.css">
    </head>
    <body ng-app="appName">
        <div ng-controller="contactListCtrl">
<!--            <div ng-include="'/views/contactListForm.html'"></div>-->
         <contact-list-form></contact-list-form>
            <contact-list-table></contact-list-table>
            <table class="table table-striped" >
            
                <caption> Results</caption>
                <input style="float:right;margin:right;" type="text"  ng-model="search" placeholder="search...">
                
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Address</th>
                    <th>Phone</th>
                </tr>
                <tr ng-repeat="x in contactList|filter:search|orderBy:['FirstName','address']">
                    <td>{{x.firstName}}</td>
                    <td>{{x.lastName}}</td>
                    <td>{{x.address}}</td>
                    <td>{{x.phone}}</td>
                </tr>
            </table>
        </div>
<!--
            <h1>Animals</h1>
            <ol>
                <li ng-repeat="c in contactList">{{c}}</li>
            </ol>
-->
<!--
        </div>
        By element
       <contact-list-form></contact-list-form>
        By attribute
        <div contact-list-form></div>
-->
    </body>
    
    
    <script type="text/javascript" src="/node_modules/angular/angular.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/services/personFactory.js"></script>
    <script type="text/javascript" src="/scripts/services/personService.js"></script>
    <script type="text/javascript" src="/scripts/services/personHttp.js"></script>
    
     <script type="text/javascript" src="/scripts/controllers/contactListCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/appCtrl.js"></script>
    <script type="text/javascript" src="/scripts/controllers/personCtrl.js"></script>
    <script type="text/javascript" src=/scripts/Directives/contactListForm.js></script>    
   
   
</html>